<div class="image_box">
		<a href="/images/<%= image.id %>"><img class="thumbnail" src="<%= image.img_url%>"></a>
	<p><%= @user.username%></p>
	<p class="image_stat"><%= image.created_at %><a href="/images/<%=image.id%>/edit">Edit</a></p>
</div>